/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON  */
body {
    background-color: #000000;
}

/* HEADER  */

.view-call-f, .view-call-s {
    position: relative;
}

.view-call-f {
    position: absolute;
    top: 0;
    right: 35px;
}

.view-call-s {
    position: absolute;
    right: 5px;
    top: 0;
  
}
.view, .arrow {
    background-color: #4A4A4A;
    padding: 5px;
    color: white;
    top: 0;
    right: 0px;
    border-radius: 5px;
}


/* MAIN  */
.wrapper {
    background-color: #000000;
    height: 90vh;
    width: 100%;
    margin-top: 25px;
}

.call-image {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 25px;
    
    
}

.square {
    width: calc(100% / 7 - 30px);
    position: relative;

}

.square img {
    width: 100%;
    height: 100%;
}

.name {
    background-color: rgb(127, 127, 127, 0.6);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;

}

/* FOOTER  */
footer {
    background-color: #222222;
    font-size: 20px;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

 ul {
    color: white;
    list-style-type: none;
}

.end-meet-button {
    background-color: grey;
    color: red;
    height: 70px;
    line-height: 70px;
}

.green {
    color: green;
}

.options li {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.off li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}